form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#formResults {
    display: none;

    strong {
        font: 1.1rem;
    }

    #results {
        margin: 1rem;

        P {
            padding: 0.3rem;
            font-size: 1.1rem;
            font-weight: normal;
            color: steelblue;
        }
    }
}
